# .dockerignore

# Abaikan direktori build artifact dari Air
tmp/

# Abaikan dependensi Go, karena akan di-download di dalam container
vendor/

# Abaikan file/folder umum lainnya
.git
.vscode
.idea
node_modules
*.log
