# Binaries and build artifacts
/bin/
tmp/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test outputs
coverage.out
test-results/
*.coverprofile
*.html

# Dependency directories
vendor/

# IDE/editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Env & configs (jangan commit secrets)
.env
*.local

# Docker & Compose override
docker-compose.override.yml
