services:
  api:
    image: cepatkilatteknologi/acs-api-gateway:1.0
    container_name: acs-api-gateway-prod
    env_file:
      - .env
    environment:
      - TZ=Asia/Jakarta
    ports:
      - "8080:8080"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:8080/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s