services:
  api:
    build:
      context: .
      target: development
    container_name: acs-api-gateway-dev
    env_file:
      - .env
    environment:
      - TZ=Asia/Jakarta
      - GENIEACS_BASE_URL=${GENIEACS_BASE_URL}
      - NBI_AUTH_KEY=${NBI_AUTH_KEY}
      - SERVER_ADDR=${SERVER_ADDR:-:8080}
      - MIDDLEWARE_AUTH=${MIDDLEWARE_AUTH:-false}
      - AUTH_KEY=${AUTH_KEY}
      - STALE_THRESHOLD_MINUTES=${STALE_THRESHOLD_MINUTES:-30}
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - /app/tmp
    restart: unless-stopped
    stdin_open: true
    tty: true