apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: genieacs-relay
  namespace: genieacs
  labels:
    app.kubernetes.io/name: genieacs-relay
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: genieacs-relay
